{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h3>Programme de formation</h3>

    <ul>
        <li><s>Webpack</s></li>
        <li><s>Cache PSR-6 - Contracts</s></li>

        <li><s>Event (listener & subscriber)</s></li>
        <li><s>Custom Event</s></li>

        <li><s>Mailer</s></li>
        <li><s>Formulaire (transformer, form personnalisé)</s></li>

        <li>Command</li>
        <li>Messenger (amqp)</li>
        <li>Test Fonctionnel & Unitaire</li>
    </ul>

{% endblock %}
